<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="scripts">
		<script th:src="@{/alumno/js/jquery-3.2.1.min.js}" type="text/javascript"></script>
	    <script th:src="@{/profesor/js/bootstrap.min.js}" type="text/javascript"></script>
	    <script th:src="@{/profesor/js/bootstrap-checkbox-radio-switch.js}"></script>
	    <script th:src="@{/profesor/js/chartist.min.js}"></script>
	    <script th:src="@{/profesor/js/bootstrap-notify.js}"></script>
	    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	    <script th:src="@{/profesor/js/light-bootstrap-dashboard.js}"></script>
	    <script th:src="@{/profesor/js/demo.js}"></script>
	    <script th:src="@{/profesor/js/menu.js}"></script>
	</div>
</html>